.container {
  color: white;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container2 {
  color: white;
  background-color: whitesmoke;
  height: 150px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.box-box1 {
  background-color: #2cd1ab;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box2 {
  background-color: #3be043;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box3 {
  background-color: #3561f1;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box4 {
  background-color: #ce36c6;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box5 {
  background-color: #180b31;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box6 {
  background-color: #fccf3a;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box7 {
  background-color: #fca505;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box8 {
  background-color: #fa2424;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box9 {
  background-color: #a9a9a9;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

.box-box10 {
  background-color: #808080;
  width: 230px;
  height: 45px;
  padding-top: 30px;
}

#box1 {
  background-color: #ce36c6;
  width: 80px;
  height: 45px;
  padding-top: 30px;
}

#box2 {
  background-color: #fa2424;
  width: 80px;
  height: 45px;
  padding-top: 30px;
}

#box3 {
  background-color: #3be043;
  width: 80px;
  height: 45px;
  padding-top: 30px;
}

#box4 {
  background-color: #fccf3a;
  width: 80px;
  height: 45px;
  padding-top: 30px;
}
